extends ../../../views/layout

block content
 #cliente
   form#cliente(method="POST", action="/signup")
    table
     tr
      td(colspan="2")
       h3 Registrar
     tr
      td
       p Nombre:
      td
       input(type="text" name="nombre" class="form-control")
     tr
      td
       p Nick:
      td
       input(type="text" name="nickName" class="form-control")
     tr
      td
       p Contraseña:
      td
       input(type="text" name="contrasena" class="form-control")
     tr
      td
       p Contraseña:
      td
       input(type="text" name="contrasenar" class="form-control")
     tr
      td
       p Documento:
      td
       input(type="number" name="documento" class="form-control")
     tr
      td
       p Tipo de pago:
      td
       input(type="text" name="tipoPago" class="form-control")
     tr
      td(colspan="2")   
       p
       button(type="submit" class="btn btn-danger btn-primary") Enviar

