#cabecera{
	width: 100%;
	height: 200px;
	background-image: url("../images/fondo2.jpg");
	background-position: 100% 100%;
	position: relative;
}
#login{
	width: 100%;
	height: 25%;
	background-color: #428bca;
    bottom: 0;
    position: absolute;
    padding: 8px;
    color: #fff;
    border:1px solid black;
}

#login table{

    font-size: 12px;
	right: 0;
    position: absolute;
}

#login button{
	margin-left: 7px;
}

#login td{
padding: 0px 10px 0px 0px;
}

#logo{
	background-color: #fff;
	border-radius: 15px;
	left: 50px;
	position: absolute;
	width: 400px;
	height: 250px;
	box-shadow: 2px 2px 8px 4px #d9534f;
}
#logo img{
	margin-top: 50px;
	margin-left:20px;
}

#contenedor{
	padding: 7% 20% 7% 20%;
    background-color: #DEDEDE;
}

#principal{
	width: 100%;
	min-height: 500px;
	border:5px solid #d9534f;
	background-color: #fff;
	border-radius: 15px;
	text-align: center;
	padding: 15%;
	box-shadow: 2px 2px 8px 4px #666;
}

 
