extends ../../../views/layout

block content
 #cancelar
  form(method="POST", action="/vuelos/cancelar")
   table
    tr
     td(colspan="2")
      h3 Cancelar o Posponer
    tr
     td
      span Número de Reservación:
     td 
      input(type="text" name="numReserva" placeholder="Escriba aqui" class="form-control")
    tr
     td
      span Número de Pasajes a Cancelar o Posponer:
     td
      input(type="text" name="numPasajesCancelar" placeholder="Escriba un Numero" clas"form-control")
    tr
     td
      span Causa:
     td
      textarea(value="observaciones" class="form-control")
    tr
     td
      button(type="submit" class="btn btn-danger btn-primary") Cancelar
     td
      button(type="submit" class="btn btn-danger btn-primary") Posponer
 #informeCancelar
   table
    tr 
     td
      span Informe:
    tr 
     td
      textarea(value="informe" class="form-control")