extends ../../../views/layout

block content
 #reserva
  form(method="POST", action="/vuelos/reservar")
   table
    tr
     td(colspan="3")
      h3 Formulario de Reserva
    tr
     td
      span Número de vuelo:
     td 
      input(type="text" name="numVuelo" placeholder="Escriba aqui" class="form-control")
     td
      a(href="/") Buscar
    tr
     td
      span Fecha de Vuelo: 
     td(colspan="2")
      input(type="date" name="fechaVuelo")
    tr
     td
      span Fecha Regreso: 
     td(colspan="2")
      input(type="date" name="fechaRegreso")
    tr
     td
      span Número de Pasajes:
     td(colspan="2")
      input(type="text" name="numPasajes" placeholder="Escriba un Numero" clas"form-control")
    tr
     td
      span Observaciones:
     td(colspan="2")
      textarea(value="observaciones" class="form-control")
    tr
     td(colspan="3")
       button(type="submit" class="btn btn-danger btn-primary") Reservar
 #resultadoReserva
   table
    tr 
     td
      span Resultado:
    tr 
     td
      textarea(value="resultado" class="form-control")