extends ../../../views/layout

block content
  button(type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal") boton
  a(type="button" class="btn btn-primary" data-toggle="modal" href="#myModal") link
  
  .modal.fade(id="myModal" role="dialog" tabindex="-1" aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          button(type="button" class="close" data-dismiss="modal")
            span(aria-hidden="true") &times;
          h4.modal-title(id="myModalLabel">Modal title) titulo
        .modal-body
          p ...
        .modal-footer
          button(type="button" class="btn btn-default" data-dismiss="modal") Close
          button(type="button" class="btn btn-primary") Save changes


  #buscar
    table
     tr
      td(colspan="2")
       h3 Busqueda
     tr
      td
       p Buscar por: 
      td
       select#seleccionBuscar(name="seleccionBuscar" class="form-control")
        option(value="vacio") Seleccionar
        option(value="aerolinea") Aerolinea
        option(value="nVuelo") Nombre de vuelos
        option(value="origen") Origen
        option(value="destino") Destino
        option(value="fechaVuelo") Fecha
            console.log(vuelos[0].aerolinea)
     tr
      td
       p Seleccione: 
      td
       select(id="seleccionVuelo" name="seleccionVuelo" class="form-control")
  #resultado
   form(method="POST", action="/vuelos/guardar")
    table
     tr
      td
       p Lista de vuelos
     tr
      td#seleccioVuelos
       select#vuelos(name="vuelos" class="form-control" size="10")
     tr
      td
       span *Seleccione un Vuelo
     tr
      td
       button(type="submit" class="btn btn-danger btn-primary" disabled) Guardar
