extends ../../../views/layout

block content
  #buscar
   form(method="POST", action="/vuelos/buscar/Busqueda")
    table
     tr
      td(colspan="2")
       h3 Parámetros de Busqueda
     tr
      td
       p Buscar por: 
      td
       select(name="seleccionBuscar" class="form-control")
        option(value="aerolinea" selected="selected") Aerolinea
        option(value="origen") Origen
        option(value="destino") Destino
        option(value="fecha") Fecha
     tr
      td
       p Escriba Busqueda: 
      td
       input(type="text" name="busqueda" placeholder="Escriba aqui" class="form-control")
     tr
      td(colspan="2")
       button(type="submit" class="btn btn-danger btn-primary") Buscar
  #resultado
   form(method="POST", action="/vuelos/buscar/seleccionBusqueda")
    table
     tr
      td
       p Lista de vuelos
     tr
      td#seleccioVuelos
       select(name="seleccionVuelo" class="form-control" size="10" disabled)
     tr
      td
       span *Seleccione un Vuelo
     tr
      td
       button(type="submit" class="btn btn-danger btn-primary" disabled) Guardar
